@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}
table {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 800%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 800%;
}

.example-full-width {
  width: 80%;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  width: 80%
}


.example-form{
  width: 80%
}
